name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: ${{ matrix.os }} / rust-${{ matrix.toolchain }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        toolchain:
          - 1.92.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Format check
        run: cargo fmt --all -- --check

      - run: cargo test --all
      - run: cargo test --no-default-features
      - run: cargo test --all-features
      - run: cargo test --features rayon
      - run: cargo test --features raster_stats
      - run: cargo test --features test_render
      - run: cargo test --features rayon,raster_stats

      - name: Upload test-results artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.os }} rust-${{ matrix.toolchain }} test-results
          path: "**/tests/tmp"

      - name: Clippy
        run: cargo clippy --locked --release -- -D warnings

      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          rust-version: "1.92.0"
          log-level: error
          command: check
